



.social-media-links {
    display: inline-block;
    margin: 0 auto;

}
/* ---------START Navbar CSS -------- */

.navbar-inner {

    font: #FFF;
}

/*--This CENTERS the Navbar --*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}/*Ends Navbar Centering CSS --*/


.navbar-loc {
  display: inline-block;
} /* -----------END Navbar CSS --------*/




/*------- Home Page CSS ------*/
/*--Jumbotron for Home page starts --*/

.jmbhome {
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    max-height: 1000px;
    margin-top: 50px;

}
.jmbtext-hp {
    color: #000;
    text-align: left;
    

}

.jmb-item-hp {
    min-height: 150px;
    margin-top: 200px;
    
} 
    
.jumbotron > .boxhome {

    min-height: 400px;
    margin: 0 auto;
    background-image: url("../images/crossfitsepia.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    
} /*--Jumbotron for Home ends --*/

.innercenter {
    margin: 0 auto;
    background-color:#BFE1BF;
  
    
}

/*-- Home page background image to be centered and not repeat */
.body-home {
     background-color: #63A0A4;
   /* background-color: #C8A2DB;*/
    font-family: Arial, Helvetica, sans-serif ;

}

/* Home page carousel's inner text items --*/


.carousel-inner > .item {
    margin: auto 0;
    color: black;
    font-family: "Arial Black";
    font-weight: 900;
    text-align:right;
    background-color: #F7F7F7;
    background-color: transparent;

}
/*

.container-home {
   /* background-color: #5D98AC;*/
   /* margin: 0 auto;


}

.row {
    background-color: #5D98AC;


}*/

.row-top {
    background-color: #C2C2C2;

    margin: 0 auto;
    padding: 10px 10px;

    
}


.h3-hptitle {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 50px;
    
} 

/* Start Unique Button for Home Page */
.btn-blk {
    background-color:black;
    color: #678CBA;
    font-size: 20px;
    display: inline-block;
    margin: 25px 50px; 
    position:relative;
    vertical-align: middle;
 
}

/* ---Home Page Unique Hover, focus and active for unique bottons ---*/

.btn-blk:hover,
.btn-blk:focus,
.btn-blk:active {
        color: #000;
        background-color: #678CBA;
        border-color: #000;
        font-size: 20px;
        
} /*End Unigue Home page buttons */

/* ---- Home.html page CSS end ------ */


.splashbox {
    background-color: transparent;
    padding-top: 25px;
}


.sptext {
    color: #000;
    text-align: left;
    padding-left:10px;
}



.transbox >p {
    margin: 5%;
    font-weight: bold;
    color: #000;
}

.transbox >h2 {
    color:#000;
    text-align: center;
}



/* Index.html Splash Page CSS start*/
.row1-splash {
    margin-top: 100px;
    
}

.row1-splash >col-xs-12 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.row1-splash > h4 {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}


#imground {
    border-radius: 10px;
    margin: 0 auto;

}

/* -- Index.html/Splash page CSS */
/* -- Splash page Background image take full screen. */
.body-splash {
    background-image: url("../images/Blue_sky_and_green_grass-wide.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.5em;
    color: #000;
}
   
/* Code for semi-transparent transition button on Index.html Splash page */
.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #eee; /* fallback color for old browsers */
    background: black;
    border-radius: 8px;
    color: #008000;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    
}

.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
  text-decoration: none;
}
.semi-transparent:focus {
  outline: none;
}

.is-grey {
  background: #1e348e; /* fallback color for old browsers */
  background: rgba(30, 52, 142, 0.5);
}
.is-grey:hover,
.is-grey:focus,
.is-grey:active {
  background: #a9a9a9; /* fallback color for old browsers */
  background: rgb(169, 169, 169);
  color: #fff;
}

.with-border {
  border: 1px solid #EEE;
}



/* ---- Stretching Page CSS --- */

.body-stretch {
    background-color: #63A0A4;
    font-family: Arial, Helvetica, sans-serif ;
}

.body-stretch >.container {
    background-color: #BFE1BF;
    font-family: Arial, Helvetica, sans-serif ;
}

.jmb-stretch {
    text-align: center;
}

/* --- Body Weight Page --*/

.body-bodyweight {
    background-color: #63A0A4;
    font-family: Arial, Helvetica, sans-serif ;

}

.body-bodyweight > .container{
    background-color: #BFE1BF;
    font-family: Arial, Helvetica, sans-serif ;

}


.jmb-bw {
    text-align: center;
}

.page-header-bw {
    padding-top: 40px;
    color: #000;

}

.innerfill {
    background-color: #C8A2DB;
}

small{
    color: #FFF;

}
/*--Cardio Page Start --*/

.body-cardio {
    background-color: #63A0A4;
}

.body-cardio > .container{
    background-color: #BFE1BF;
    font-family: Arial, Helvetica, sans-serif ;
}

.jmb-cardio {
    text-align: center;
}
/* --Cardio page CSS END --*/

/* -- Weight Training Page CSS Start --*/
.body-weightraining {
    background-color: #63A0A4;
}

.body-weightraining > .container{
    background-color: #BFE1BF;
    font-family: Arial, Helvetica, sans-serif ;

}


/*---MODAL code for ALL Pages--*/

.modal-myTitle {
    text-align: center;
    color: #000;
    font-family: times;
    font-size: 35px;
    background-color: #815B74;
}

.control-myLabel {
    color: #000;
    font-size: 20px;
}
    
.modal-myBody {
   background-image: url("../images/manydumbbells.jpg");
   font-family: Arial, Helvetica, sans-serif ;
}


/*Footer Code*/

footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;    
        }
footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
}

.push {
            height: 63px;
        }
 
        /* responsive footer */
        @media (max-width: 767px) {
            body {
                padding-right: 0px;
                padding-left: 0px;
            }
    
            footer, .wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }